
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

          <h4 class="card-title">Barra de Progreso</h4>

            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValueNow]="porcentaje1" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1 + '%'">
              </div>
            </div>
            <br>

            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" [attr.ariaValueNow]="porcentaje2" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2 + '%'">
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <app-incrementador  (cambiaValor)="porcentaje1 = $event" nombre="Progres Azul" [porcentaje]="porcentaje1"></app-incrementador>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <app-incrementador (cambiaValor)="porcentaje2 = $event" nombre="Progress Verde" [porcentaje]="porcentaje2"></app-incrementador>
        </div>
      </div>
    </div>
</div>


