
<h3>{{ leyenda }}</h3>
<div class="input-group">
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+1)">
        <i class="mdi mdi-plus"></i>
      </button>
    </div>

    <input #txtProgress type="number" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="onChanges($event)" min="1" max="100">

    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-1)">
          <i class="mdi mdi-minus"></i>
      </button>
    </div>
</div>